# POSTTEST 4 KECERDASAN BUATAN

ALFI NOR IHSAN

2109106018

A1-21

Dataset yang digunakan : [Airline_Passenger_Satisfaction](https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction)

-Ketentuan Preprocessing-

• Bagi dataset menjadi training set dan testing set dengan proporsi 70:30.

• Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu).

• Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu).

• Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai.

• Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada).

• Ganti tipe data salah satu attribute angka.

• Lakukan one hot encoding pada dataset yang kalian miliki.

## Import library dan membaca file

In [162]:
# Import numpy dan pandas
import numpy as np
import pandas as pd

# Membaca file dataset
df_pertama = pd.read_csv("Airline_Passenger_Satisfaction.csv")

df_pertama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

## Mengecek data

Untuk mengecek apakah data sudah sesuai dengan jumlah minimal

In [163]:
df_pertama.shape

(25976, 25)

In [164]:
df_pertama.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

## Membagi Data training dan testing

In [165]:
from sklearn.model_selection import train_test_split

# Pembatas dari ukuran dataset
X = df_pertama.iloc[:, : -1]
y = df_pertama.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Pembagian ukuran Dataset : ")

# Ukuran dari x
print("Ukuran X_train", X_train.shape)
print("Ukuran X_test", X_test.shape)

# Ukuran daru y
print("Ukuran y_train", y_train.shape)
print("Ukuran y_test", y_test.shape)

Pembagian ukuran Dataset :
Ukuran X_train (18183, 24)
Ukuran X_test (7793, 24)
Ukuran y_train (18183,)
Ukuran y_test (7793,)

## Data Transforming

## Melakukan normalisasi data pada salah satu attribute

In [166]:
from sklearn.preprocessing import MinMaxScaler

normalisasi_data = df_pertama[["Flight Distance"]]
normalisasi_data.columns = ["Flight Distance"]

min_maxs = MinMaxScaler()
normalisasi = min_maxs.fit_transform(normalisasi_data[["Flight Distance"]])
dfN = pd.DataFrame(normalisasi)
dfN.columns =["Normalisasi Flight Distance"]

normalisasi_data = normalisasi_data.join(dfN["Normalisasi Flight Distance"]).reset_index()
normalisasi_data = normalisasi_data.drop("index", axis=1)

print("Hasil akhir normalisasi : ")
normalisasi_data.head()

Hasil akhir normalisasi :

   Flight Distance  Normalisasi Flight Distance
0              160                     0.026050
1             2863                     0.571890
2              192                     0.032512
3             3377                     0.675687
4             1182                     0.232431

## Melakukan standarisasi pada dataset

In [167]:
from sklearn.preprocessing import StandardScaler

df_kedua = df_pertama[["Age", "Flight Distance" , "Inflight wifi service", "Departure/Arrival time convenient"]]

standard_scaler = StandardScaler()
standarisasi = standard_scaler.fit_transform(df_kedua)
df_Standarisasi = pd.DataFrame(standarisasi)
df_Standarisasi.columns = ["Age", "Flight Distance" , "Inflight wifi service", "Departure/Arrival time convenient"]

print("Data sebelum di standarisasi : ")
np.std(df_kedua)

Data sebelum di standarisasi :

Age                                   15.135394
Flight Distance                      998.664776
Inflight wifi service                  1.335358
Departure/Arrival time convenient      1.533341
dtype: float64

In [168]:
print("Data sesudah di standarisasi : ")
np.std(df_Standarisasi)

Data sesudah di standarisasi :

Age                                  1.0
Flight Distance                      1.0
Inflight wifi service                1.0
Departure/Arrival time convenient    1.0
dtype: float64

## DATA CLEANING

## Melakukan Data cleaning pada data dengan nilai null

In [169]:
# Mengecek apakah terdapat nilai null di dalam data
df_pertama = pd.read_csv("Airline_Passenger_Satisfaction.csv")

df_pertama.isna().sum()

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

### Di karenakan ada data null pada "Arrival Delay in Minutes", maka untuk mengatasinya sebagai berikut :

In [170]:
from sklearn.impute import SimpleImputer
imputer_mean = SimpleImputer(strategy="mean")

df_pertama['Arrival Delay in Minutes'] = imputer_mean.fit_transform(df_pertama[['Arrival Delay in Minutes']])

df_pertama.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

## Melakukan Data cleaning pada data dengan nilai duplikat

In [171]:
df_pertama[df_pertama.duplicated()]

print("Data Duplikat : ")
df_pertama.duplicated().sum()

Data Duplikat :

0

### Dikarenakan dataset yang di gunakan tidak memiliki nilai duplikat, maka untuk membuatnya yaitu:

In [172]:
df_sama = pd.concat([df_pertama]*2, ignore_index=True)
df_sama.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51947     True
51948     True
51949     True
51950     True
51951     True
Length: 51952, dtype: bool

In [173]:
print("Jumlah Data Duplikat : ")
df_sama.duplicated().sum()

Jumlah Data Duplikat :

25976

### Dan berikut merupakan cara untuk menghapus data duplikat:

In [174]:
df_sama.drop_duplicates(inplace = True)
df_sama.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
25971    False
25972    False
25973    False
25974    False
25975    False
Length: 25976, dtype: bool

In [175]:
print("Jumlah duplikat : ")
df_sama.duplicated().sum()

Jumlah duplikat :

0

## Mengganti tipe data salah satu attribute angka

Untuk mengganti tipe data dari attribute angka ke float dapat :

In [176]:
print("Tipe data sebelum di ubah : ", df_pertama["Flight Distance"].dtypes)
df_ubah_tipe = df_pertama[["Flight Distance"]].astype(float)
print("Tipe data sesudah di ubah : ", df_ubah_tipe["Flight Distance"].dtypes)

Tipe data sebelum di ubah :  int64
Tipe data sesudah di ubah :  float64

## Melakukan one hot encoding pada dataset

In [177]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encode = OneHotEncoder(sparse=False)

onehot = one_hot_encode.fit_transform(df_pertama[["Gender"]])
df_onehot_encoding = pd.DataFrame(onehot)
df_ketiga = df_pertama[['Gender']].join(df_onehot_encoding)

df_ketiga.head()

   Gender    0    1
0  Female  1.0  0.0
1  Female  1.0  0.0
2    Male  0.0  1.0
3    Male  0.0  1.0
4  Female  1.0  0.0